<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">خانه</a></li>
    <li class="nav-news" role="menuitem"><a href="{{site.baseurl}}news">اخبار</a></li>
    <li class="nav-blog" role="menuitem"><a href="{{site.baseurl}}blog">وبلاگ</a></li>
    <li class="nav-classes" role="menuitem"><a href="{{site.baseurl}}classes">کلاس‌ها</a></li>
    <li class="nav-podcasts" role="menuitem"><a href="{{site.baseurl}}classes">پادکست‌ها</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about">درباره‌ما</a></li>
    <li class="nav-lang" role="menuitem"><a href="https://bineshafza.github.io/en/">English</a></li>
</ul>
