<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="/">خانه</a>
    </li>
    <li class="nav-news" role="menuitem"><a href="/news">اخبار</a>
        <ul>
            <li><a href="/IELTS">آخرین خبر‌ها</a></li>
            <li><a href="#">رویدادها</a></li>
        </ul>
    </li>
    <li class="nav-ielts" role="menuitem"><a href="#">آیلتس</a>
        <ul>
            <li><a href="/IELTS">همه چیز درباره آیلتس</a></li>
            <li><a href="#">برنامه کلاس‌ها</a></li>
            <li><a href="#">تعیین سطح</a></li>
        </ul>
    </li>
    <li class="nav-courses" role="menuitem"><a href="/courses">دوره‌های آموزشی</a>
        <ul>
            <li><a href="/IELTS">آزمون‌های بین‌المللی</a></li>
            <li><a href="#">زبان‌های خارجی</a></li>
            <li><a href="#">دوره‌های خاص مکالمه</a></li>
        </ul>
    </li>
    <li class="nav-articles" role="menuitem"><a href="/articles">مطالب آموزشی</a>
        <ul>
            <li><a href="/tag/grammar/">گرامر</a></li>
            <li><a href="/tag/vocabulary/">واژگان</a></li>
            <li><a href="/tag/pronounciation/">تلفظ</a></li>
        </ul>
    </li>
    <!--     <li class="nav-podcasts" role="menuitem"><a href="/podcasts">پادکست‌ها</a></li> -->
    <li class="nav-multimedia" role="menuitem"><a href="/multimedia">مولتی‌مدیا</a>
        <ul>
            <li><a href="/tag/quotes/">جملات قصار</a></li>
            <li><a href="#">ویدیو‌های مفهومی</a></li>
            <li><a href="#">ویدیو‌های School Of Life</a></li>
            <li><a href="/podcasts">پادکست‌ها</a></li>
        </ul>
    </li>
    <!--     <li class="nav-instructors" role="menuitem"><a href="/instructors">اساتید</a></li> -->
    <li class="nav-placement" role="menuitem"><a href="/placement">تعیین سطح</a></li>
    <li class="nav-blog" role="menuitem"><a href="/blog">وبلاگ</a></li>
    <li class="nav-about" role="menuitem"><a href="/about">درباره‌ما</a></li>
    <li class="nav-lang" role="menuitem"><a href="https://bineshafza.ir/en/">English</a></li>
</ul>